.dial {
    height: 400px;
    width: 400px;
}

.timer {
    margin-top: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

* {
    font: inherit;
}

body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: lightblue;
}

#start {
    margin-right: 10px;
    border-radius: 20px;
    width: 70px;
    text-align: center;

}

#pause {
    margin-left: 10px;
}

#duration {
    color: blue;
    background-color: rgb(125, 173, 188, .3);
    border-radius: 5px;
    width: 200px;
    margin-bottom: 30px;

}

.timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
}

.timer button {
    border: none;
    font-size: 36px;
    cursor: pointer;
}

.timer button:focus {
    outline: none;
}

.timer input:focus {
    outline: none;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}